<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
     <style>
      body {
            background-color: #d0e7f9;
            text-align: center;
            }
             button {
            margin: 10px;
            padding: 10px 20px;
        }
         
      </style>
</head>
<body>
<h2> Welcome Home....,</h2>
    <form action="/home" method="get">
        <button type="submit" formaction="/employees">Employees</button>
        <button type="submit" formaction="/departments">Department</button>
    </form>
    
</body>
</html>