<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Department</title>
    <style type="text/css">
     body {
            background-color: #d0e7f9;
        }

        h2 {
            text-align: center;
        }
        form {
            width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f5faff;
            border-radius: 10px;
        }
    </style>
</head>
<body>

    <h2>Update Department</h2>

    <form th:action="@{/saveDepartment}" th:object="${department}" method="post">
        <input type="hidden" th:field="*{departmentId}" />

        <label>Name:</label>
        <input type="text" th:field="*{name}" required /><br/><br/>

        <label>Creation Date:</label>
      <input type="date" name="creationDate"
           th:value="${#temporals.format(department.creationDate, 'yyyy-MM-dd')}" required /><br/><br/>

        <label>Department Head ID:</label>
        <input type="number" th:field="*{departmentHeadId}" required /><br/><br/>

        <button type="submit">Update</button>
    </form>

    <a href="/departments">Back to List</a>

</body>
</html>
